.env
.env.*
!.env.example

/vendor/
/node_modules/

/public/storage
/storage/*.key

/.idea/
/.vscode/
.DS_Store
Thumbs.db

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
npm-debug.log
yarn-error.log
/construction.zip
/.git.salepro-history/
